@charset "UTF-8";
@font-face {
  font-family: ElektraLightPro;
  /* ╨У╨░╤А╨╜╨╕╤В╤Г╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/Elektra_Light_Pro.otf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
@font-face {
  font-family: ElektraLightProMedium;
  /* ╨У╨░╤А╨╜╨╕╤В╤Г╤А╨░ ╤И╤А╨╕╤Д╤В╨░ */
  src: url(../fonts/Elektra_Medium_Pro.ttf);
  /* ╨Я╤Г╤В╤М ╨║ ╤Д╨░╨╣╨╗╤Г ╤Б╨╛ ╤И╤А╨╕╤Д╤В╨╛╨╝ */ }
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* general*/
html, body {
  margin: 0;
  padding: 0; }

.b-inside-wrapper {
  width: 1200px;
  margin: 0 auto; }

/* header - first */
.b-inside-wrapper-address {
  width: 1200px;
  margin: 0 auto;
  min-height: 41px;
  position: relative; }

.green_line {
  position: absolute;
  width: 1px;
  height: 41px;
  top: 0;
  left: 0;
  background-color: red; }

.b-address {
  min-height: 41px;
  background-color: #44616E; }

.b-social-min {
  position: absolute;
  width: 140px;
  top: 7px;
  left: 100px; }

.b-social-min__list {
  margin: 0;
  padding: 0; }

.b-social-min__list-item {
  display: inline-block;
  width: 26px;
  height: 26px; }

.b-social-min__link_vk {
  width: 26px;
  height: 26px;
  background-image: url("../img/sprite.png");
  background-position: 89px 201px; }

.b-social-min__link_fb {
  width: 26px;
  height: 26px;
  background-image: url("../img/sprite.png");
  background-position: 309px 201px; }

.b-social-min__link_tw {
  width: 26px;
  height: 26px;
  background-image: url("../img/sprite.png");
  background-position: 279px 201px; }

.b-social-min__link {
  display: block;
  text-indent: -9999px; }

.b-location {
  position: absolute;
  top: 8px;
  left: 479px;
  margin: 0 auto;
  height: 24px;
  min-width: 400px;
  font: 12px ElektraLightPro;
  color: #fff; }

.b-location__glob {
  width: 16px;
  height: 22px;
  background: url("../img/sprite.png") 373px 201px;
  display: inline-block; }

.b-location__text {
  padding-left: 7px;
  padding-top: 5px;
  display: inline-block;
  vertical-align: top; }

.b-tel {
  position: absolute;
  right: 110px;
  top: 9px;
  color: white;
  font: 23px ElektraLightPro; }

.b-tel__prefix {
  font: 13px ElektraLightProMedium;
  color: #00B9FE;
  vertical-align: super; }

/* header - second */
.b-second-line {
  min-height: 98px;
  background-color: #E2EBF3; }

.b-inside-wrapper-second {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  min-height: 98px; }

.b-logo {
  position: absolute;
  max-width: 199px;
  left: 101px;
  top: 24px; }

.b-logo__link {
  display: block; }

.b-logo__image {
  max-width: 199px;
  max-heigth: 57px;
  display: block; }

.b-logo__link-text {
  display: block;
  text-indent: -9999px; }

.b-search {
  min-height: 35px;
  position: absolute;
  left: 360px;
  top: 34px; }

.b-search__form:before, .b-search__form:after {
  content: "";
  display: table; }
.b-search__form:after {
  clear: both; }

.b-search__input {
  float: left;
  border: 1px solid #DCE6F0;
  color: #DCE6F0;
  padding: 8px;
  font-size: 15px;
  line-heght: 17px;
  font: ElektraLightPro;
  width: 244px; }

.b-search__button {
  float: left;
  height: 35px;
  border: 0 none;
  background-color: #00B9FE;
  color: white;
  font: ElektraLightPro;
  padding: 0 13px;
  margin: 0;
  font-size: 17px;
  line-heght: 17px;
  font-weight: 600; }

.b-short-nav {
  position: absolute;
  right: 171px;
  top: 34px; }

.b-short-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.b-short-nav__menu-item {
  display: inline-block;
  margin-right: 17px;
  min-height: 42px; }

.b-short-nav__menu-link {
  font-family: ElektraLightPro;
  font-size: 13px;
  display: block;
  color: #00B9FE;
  height: 32px;
  vertical-align: bottom;
  padding-top: 10px; }

a:hover.b-short-nav__menu-link {
  color: #613993; }

/* фы  ъюЁчшэ√
a:hover.b-short-nav__menu-link{
  background-color: white;
  color:#3D5F7F;
}
*/
.b-nav {
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid #E3E3E3;
  background-color: #F7F7F7;
  margin-bottom: 17px; }

.b-nav__wrapper {
  width: 1200px;
  margin: 0 auto; }

.b-nav__menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.b-nav__menu-item {
  display: inline-block; }

.b-product-view:before, .b-product-view:after {
  content: "";
  display: table; }
.b-product-view:after {
  clear: both; }

.b-slider {
  background-color: yellow;
  width: 300px;
  height: 350px;
  float: left;
  margin-right: 30px; }

.b-slider__big-picture {
  width: 300px;
  min-height: 238px; }
  .b-slider__big-picture img {
    display: block;
    margin: 0 auto 10px auto; }

.b-product-title {
  color: #00B9FE;
  min-height: 30px; }

.b-slider__slidershow {
  position: relative;
  pading-left: 30px; }
  .b-slider__slidershow .bx-wrapper {
    margin: 0 auto; }
  .b-slider__slidershow .bx-prev, .b-slider__slidershow .bx-next {
    text-decoration: none;
    display: block;
    position: absolute;
    top: 50%;
    background-image: url("../img/sprite.png");
    width: 16px;
    height: 34px;
    margin-top: -8px;
    color: #fff;
    line-height: 34px; }
  .b-slider__slidershow .bx-prev {
    background-position: -43px -5px;
    left: 0px;
    padding-left: 6px; }
  .b-slider__slidershow .bx-next {
    right: 0;
    padding-left: 6px;
    background-position: -72px -5px; }

.b-params {
  min-height: 350px;
  width: 444px;
  float: right;
  margin-right: 243px; }
  .b-params tr:nth-child(even) {
    background-color: #EEF2F4; }

.b-params__table-left, .b-params__table-right {
  width: 255px; }

.b-footer__wrapper {
  width: 1200px;
  margin: 0 auto;
  min-height: 228px;
  position: relative; }

.b-logo-down {
  position: absolute;
  left: 100px;
  top: 99px;
  min-height: 39px;
  max-height: 39px;
  max-width: 139px; }

.b-logo-down__link {
  display: block; }

.b-logo-down__link-text {
  display: block;
  text-indent: -9999px; }

.b-footer {
  background-image: url("../img/footer-bg.jpg");
  color: #ddd; }
  .b-footer a {
    color: #ddd; }

.b-footer-links {
  padding: 60px 0 0 0;
  min-height: 150px;
  width: 510px;
  margin: 0 auto 0 359px; }

.b-footer-links__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.b-footer-links__column {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  overflow: hidden;
  width: 163px; }

.b-footer-column {
  margin: 0;
  padding: 0;
  list-style: none; }

.b-footer-column_item:first-child {
  font-weight: bold; }

.app-soc {
  position: absolute;
  right: 100px;
  top: 71px;
  width: 186px;
  min-height: 101px; }

.b-smartphones {
  min-height: 32px;
  margin-bottom: 26px; }

.b-smartphones__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.b-smartphones__item {
  display: inline-block;
  margin-bottom: 5px; }

.b-smartphones__link {
  display: block;
  width: 90px;
  height: 32px;
  text-indent: -9999px; }

.b-smartphones__link_apple {
  width: 90px;
  height: 32px;
  background-image: url("../img/sprite.png");
  background-position: 95px 134px; }

.b-smartphones__link_google {
  background-image: url("../img/sprite.png");
  background-position: 95px 169px; }

.b-social-big__list {
  margin: 0;
  padding: 0; }

.b-social-big__list-item {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 12px; }
  .b-social-big__list-item:first-child {
    margin-left: 0px; }

.b-social-big__link {
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  display: block; }

.b-social-big__link_vk {
  background-image: url("../img/sprite.png");
  background-position: 146px 247px; }

.b-social-big__link_fb {
  background-image: url("../img/sprite.png");
  background-position: 93px 247px; }

.b-social-big__link_tw {
  background-image: url("../img/sprite.png");
  background-position: 43px 247px; }

.b-breadcrumb {
  min-height: 30px;
  line-height: 27px;
  font-size: 14px;
  margin-bottom: 18px;
  margin-left: 101px;
  font-family: ElektraLightPro; }

.b-breadcrumb__crumbs {
  margin: 0;
  padding: 0;
  display-list: none; }

.b-breadcrumb__item {
  display: inline-block; }
  .b-breadcrumb__item:after {
    content: " >"; }
  .b-breadcrumb__item:last-child a {
    text-decoration: none;
    color: #5C7B98; }
  .b-breadcrumb__item:last-child:after {
    content: ""; }

.b-breadcrumb__link {
  color: #00B9FE; }

body {
  color: #5C7B98; }

.b-main {
  width: 1200px;
  margin: 0 auto;
  min-height: 350px; }

.b_basket-menu {
  display: none; }

.b-product {
  min-height: 273px; }

/*# sourceMappingURL=main.css.map */
